<legend class="text-center">微信小程序首页轮播图列表</legend>

<%= form_for :wechat_silder_image,  url: {action: "create", controller: "homeset"}, method: :post do |f| %>
<%= f.file_field :images, :multiple => true %>
<%= f.submit "上传图片", class: "btn btn-success btn-sm" %>
<% end %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>图片</th>
      <th>排序</th>
      <th>链接到产品ID</th>
      <th>是否隐藏</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @slider_images.each do |img| %>
      <tr width=300>
        <td>
          <% if img.present? %>
            <%= image_tag img.image.small.url, class: "thumbnail img-responsive" %>
          <% end %>
        </td>
        <td>
          <%= form_for :wechat_silder_image, url: update_column_homeset_path(img) do |f| %>
          <%= f.text_field :weight, value: img.weight %>
          <%= f.submit "更新", class: "btn btn-xs btn-default" %>
          <% end %>
        </td>
        <td>
          <%= form_for :wechat_silder_image, url: update_column_homeset_path(img) do |f| %>
          <%= f.text_field :product_id, value: img.product_id %>
          <%= f.submit "更新", class: "btn btn-xs btn-default" %>
          <% end %>
        </td>
        <td>
          <%= img.is_hide %>
          <% if img.is_hide %>
            <%= link_to "上架", public_homeset_path(img), method: :post, class: "btn btn-xs btn-success" %>
          <% else %>
            <%= link_to "下架", hide_homeset_path(img), method: :post, class: "btn btn-xs btn-danger" %>
          <% end %>
        </td>
        <td>
          <%= link_to "删除", homeset_path(img), method: :delete, "data-confirm": "确定吗？", class: "btn btn-sm btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
