<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <legend>所有分类列表</legend>
    <% @category_roots.each do |root| %>
      <div class="row well well-sm well-success">
        <div class="col-sm-5">
          <%= form_for root, url: update_column_category_path(root), method: :post do |f| %>
            <%= f.text_field :title, :value => root.title %>
            <%= f.submit "更名", class: "btn btn-xs btn-default" %>
          <% end %>
        </div>
        <div class="col-sm-5">
          <%= form_for root, url: update_column_category_path(root), method: :post do |f| %>
          <%= f.text_field :weight %>
          <%= f.submit "更新", class: "btn btn-xs btn-default" %>
          <% end %>
        </div>
        <div class="col-sm-2">
          <%= link_to "删除", category_path(root), method: :delete, "data-confirm": "分类下的所有东西会一起删除，确定吗？", class: "btn btn-xs btn-danger" %>
        </div>
      </div>
      <table class="table table-bordered table-condensed">
        <% root.children.each do |c| %>
          <tr>
            <td>
              <%= form_for c, url: update_column_category_path(c), method: :post do |f| %>
                <%= f.text_field :title, :value => c.title %>
                <%= f.submit "更名", class: "btn btn-xs btn-default" %>
              <% end %>
            </td>
            <td>
              <%= form_for c, url: update_column_category_path(c), method: :post do |f| %>
              <%= f.text_field :weight %>
              <%= f.submit "更新", class: "btn btn-xs btn-default" %>
              <% end %>
            </td>
            <td>
              <%= link_to "商品", category_path(c), class: "btn btn-success btn-xs" %>
              <%= link_to "删除", category_path(c), method: :delete, "data-confirm": "分类下的所有东西将会一起被清除，确认继续吗？", class: "btn btn-xs btn-primary" %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>

    <div class="row">
      <div class="col-sm-6">
        <legend>增加一级分类</legend>
        <%= simple_form_for @category do |f| %>
        <%= f.input :title %>
        <%= f.input :weight %>
        <%= f.submit "提交", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="col-sm-6">
        <legend>增加二级分类</legend>
        <%= simple_form_for @category do |f| %>

        <select name="category[ancestry]">
          <% @category_roots.each do |category| %>
            <option value="<%= category.id %>"><%= category.title %></option>
          <% end %>
        </select>

        <%= f.input :title %>
        <%= f.input :weight %>
        <%= f.submit "提交", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

  </div>
</div>
