<%= link_to "返回服务器页面", ss_services_path, class: "btn btn-sm btn-primary" %>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>端口</th>
      <th>password</th>
      <th>qr_code</th>
      <th>wechat</th>
      <th>是否已领取</th>
      <th>是否已送出</th>
      <th>送出链接</th>
      <th>draw_date</th>
      <th>re_code</th>
      <th>状态</th>
    </tr>
  </thead>
  <tbody>
    <% @ss_items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.port %></td>
        <td><%= item.password %></td>
        <td>
          <div style="word-break:break-all; width: 220px;">
            <%= item.qr_code %>
          </div>
          <%= link_to "查看二维码", admin_show_qr_ss_service_ss_item_path(item.ss_service_id, item.id), class: "btn btn-sm btn-success" %>
        </td>
        <td><%= item.wechat %></td>
        <td><%= render_status_display item.is_draw %></td>
        <td>
          <%= render_status_display item.is_send %>
          <% unless item.is_send %>
            <%= link_to "标记为送出", change_send_status_ss_service_ss_item_path(item.ss_service_id, item.id), method: :post, class: "btn btn-sm btn-success" %>
          <% end %>
        </td>
        <td width="300">
          <div style="min-width: 300px;" class="form-group">
              <%= text_area_tag nil,  "https://huiyutongwechat.top/kexue/get_qr?re_code=#{item.re_code}",  class: "form-control" %>
          </div>
        </td>
        <td>
          <% if item.draw_date.present? %>
          <%= item.draw_date.strftime("%y-%m-%d %H:%M") %>
          <% end %>
        </td>
        <td>
          <div style="word-break:break-all; width: 220px;">
            <%= item.re_code %>
          </div>
        </td>
        <td><%= item.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
